<div class="background-dark">
  <footer>
    <div class="about">
      <h2>ABOUT US</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi
        magni non dolorum autem incidunt dicta, ratione explicabo fugiat nam
        optio.
      </p>
    </div>
    <div class="links">
      <h2>QUICK LINKS</h2>
      <ul class="fa-ul">
        <li>
          <span class="fa-li"
            ><i
              class="fa-solid fa-chevron-right"
              style="color: #d1dd33"
            ></i></span
          >Alerts and stuffs
        </li>
        <li>
          <span class="fa-li"
            ><i
              class="fa-solid fa-chevron-right"
              style="color: #d1dd33"
            ></i></span
          >custom shortcodes
        </li>
        <li>
          <span class="fa-li"
            ><i
              class="fa-solid fa-chevron-right"
              style="color: #d1dd33"
            ></i></span
          >pricing plans
        </li>
        <li>
          <span class="fa-li"
            ><i
              class="fa-solid fa-chevron-right"
              style="color: #d1dd33"
            ></i></span
          >toggle elements
        </li>
        <li>
          <span class="fa-li"
            ><i
              class="fa-solid fa-chevron-right"
              style="color: #d1dd33"
            ></i></span
          >typography
        </li>
      </ul>
    </div>
    <div class="contact">
      <h2>GET IN TOUCH</h2>
      <ul class="fa-ul">
        <li class="home">
          <span class="fa-li"
            ><i
              class="fa-solid fa-house-chimney"
              style="color: #d1dd33"
            ></i></span
          >Turkey/Bursa 106 street block7 no:1
        </li>
        <li class="call">
          <span class="fa-li"
            ><i class="fa-solid fa-phone" style="color: #d1dd33"></i></span
          >+90 551903020 - Office, +90 551907020 -fax
        </li>
        <li class="emeil">
          <span class="fa-li"
            ><i class="fa-solid fa-envelope" style="color: #d1dd33"></i></span
          >hassonhamo3@gmail.com
        </li>
      </ul>
    </div>
  </footer>
</div>
