:root{
    --green-color: #d1dd33;
}
*,*::after,*::before{
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
    transition: .4s;
    text-transform: uppercase;
}
a:hover{
   color: #545340;
}
/* backgrounds */
.background-green{
    background-color: var(--green-color);
}.background-grey{
    background-color: #545340;
}
.background-dark{
    background-color: #4e4e4c;
}
.background-ligh-grey{
    background-color: #f1f1f1;
}
/* blocks */

/* Typoghrafy */
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
/* logo image */
.logo-image{
    text-align: center;
}
.logo-image>img{
    max-width: 30%;
}
/* Form */
.form{
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 30vw;
    height: 3vw;
    max-width: 200px;
    max-height: 30px;
    min-height: 20px;
    margin-right: 1rem;
    background-color: #ffff;
}
.input{
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    font-size: .7rem;
    color: #545340;
    margin-left: 1rem;
    width: 0;
    
}
.form .icon{
    margin-right: .4rem;
}
@media screen and (min-width:700px) {
.form .icon{
    font-size: 1.5rem;
}
.input{
    font-size: 1rem;
}
}
/* Icons */
.icon{
    font-size: 1rem;
    color: #969593;
    
}
/* Social media */
.social-media{
    display: flex;
    margin-left: 1rem;
}
.social-media i:last-child{
    border-right: 1.5px solid #ddddde;
}
.social-media .icon{
    padding: 1rem;
    border-left: 1.5px solid #ddddde;
    transition: .4s;
}
.social-media .icon:hover{
    color: #f0562f;
}
@media screen and (min-width:700px) {
 .social-media .icon{
    font-size: 1.5rem;
 }   
}
/* Sections */
.sections-top{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    
}
.section__name{
    margin: 0 auto;
    text-transform: capitalize;
    
}
.section__name:hover{
    color: #ffff;
}
.section__feature::after{
content: "  ⌄";
}
@media screen and (min-width:700px) {
    .section__name{
       font-size: 1.5rem;
    }
}
/* website header */
.website-header{
    display: flex;
    align-items: center;
    gap: 0 1rem;
    padding: .6rem 0;
}
.descreption{
    text-align: left;
    margin-right: 1rem;
}
h1{
    color: white;
}
.unlock{
    font-weight: 300;
    margin-bottom: 0;
    font-size: 1.2rem;
}
.company-name{
    margin: 0;
    font-size: 3rem;
}
.p-descrition{
    color: white;
    font-weight: 300;
    font-size: .9rem;
    margin-top:0;
}
.website-header>img{
    max-width: 50%;
    height: auto;
    justify-self: right;
    margin-left: 1rem;
}
@media screen and (min-width:700px) {
    .unlock{
        font-size: 2rem;
    }
    .company-name{
        font-size: 5rem;
    }
    .p-descrition{
        font-size: 1.3rem;
    }
}
/* cards */
.card{
color: white;
text-align: center;
}
.card--small{
    padding: 2rem 0;
}
.p-card{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    font-size: 0.8rem;
}
.card--large{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    width: 30vw;
    max-width: 28rem;
    height: 50vw;
    max-height: 35rem;
}
.card-larg__heading{
    color: gray;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 5rem;
}
.card--grey{
    background-color: #404f54;
}
.card--green{
    background-color: var(--green-color);
}
.card--red{
    background-color: #f0562f;
    
}
.card i{
    font-size: 2rem;
}
.card__title{
    white-space: nowrap;
    text-transform: uppercase;
    font-size: .8rem;
    margin-bottom: 0;
}
.card--large p{
    text-align: left;
    font-size: .65rem;
    line-height: .9rem;
}
.card__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
.footer__icon>i{
    font-size: .7rem;
}
.read-more{
    font-size: .7rem;
    text-align: left;
}
@media screen and (min-width:700px) {
    .p-card{
        font-size: 1.4rem;
    }
    .card--small>i{
        font-size: 4rem;
    }
    .card--large p{
        font-size: 1.1rem;
        line-height: 1.2rem;

    }
    .card__title{
        font-size: 1.3rem;
    }
    .read-more{
    font-size: 1.3rem;
   
    }
    .footer__icon>i{
        font-size: 1.3rem;
    }
}
@media screen and (min-width:1140px) {
    .card--large p{
        font-size: 1.3rem;
        line-height: 2rem;

    }
    .card__title{
        font-size: 1.7rem;
    }
}
/* details */
.details-header{
    display: flex;
    align-items: center;
    gap: 0 1rem;
    padding: .6rem 0;
}
.descreption-details{
    margin: 0 1rem;
    color: rgb(177, 177, 177);
    line-height: .7rem;
    font-size: .7rem;
}
.description__ul{
    padding-left: 1rem;
}
.details-title,.descreption__end-p{
    color: grey;
}
.details-header>img{
    max-width: 50%;
    height: auto;
    justify-self: right;
    margin-left: 1rem;
}
@media screen and (min-width:700px) {
    
.descreption-details{
    line-height: 1.5rem;
   font-size: 1rem;
}
}
/* Footer */
footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 2rem;
    color: white;
    justify-items: center;
    align-content: space-between;
}
footer .fa-ul{
    margin-left: 1rem;
}
.fa-ul>li{
    margin-top: 0.3rem;
    padding-bottom: .3rem;
}
.border-bottom{
    border-bottom: .5px solid lightgray;
}
.footer-links:hover{
    color: #f0562f;
}
.footer__title{
    font-size: 0.8rem;
}
.footer__p{
    font-size: .6rem;
}
@media screen and (min-width:700px) {
    
.fa-ul>li{
    margin-top: 0.6rem;
}
.footer__title{
    font-size: 1.3rem;
}
.footer__p{
    font-size: 1rem;
}
}
/* blocks */
.block--first-bar{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.block-card--small{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}
.block-card--small .card--small{
    width: 30vw;
    max-width: 40rem;
    margin: 0 1rem;
}
.block--card-large
{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}
