*,*::after,*::before{
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* backgrounds */
.background-green{
    background-color: #d1dd33;
}
/* blocks */

/* Typoghrafy */
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
/* Form */
.form{
    border: 1px solid grey;
    border-radius: 30px;
    display: flex;
    max-width: 30vw;
    overflow: hidden;
}
.input{
    border: none;
    outline: none;
    padding: 1.5rem 1.5rem;
    flex-grow: 1;
    font-size: 1.3rem;
    color: #545340;
}
.form .icon{
    font-size: 2rem;
    padding: 1rem; 
    border: none;
}
/* Icons */
.icon{
    font-size: 2rem;
    color: #969593;
    padding: 1rem;
    border-left: 1.5px solid #ddddde;
    
    
}
/* Social media */
.social-media{
    margin: 1rem;
    display: flex;
    width: 30vw;
}
.social-media i:last-child{
    border-right: 1.5px solid #ddddde;
}
/* Sections */
.sections-top{
    padding: 1rem ;
    display: flex;
    justify-content: space-between;
}
